# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\guanq\OneDrive\Documents\GDT\Y2S2\multiplayer\MTLGP_A2\Client codebase based on best match to current usage at 2/2/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

